 <ul nz-menu nzMode="inline">

    <li nz-menu-item>

        <a [routerLink]="['/admin']">
            <span nz-icon nzType="eye"></span>
                Tiendas
        </a>
        
    </li>

    <li nz-menu-item>
        <a [routerLink]="['/admin','products']">
            <span nz-icon nzType="eye"></span>

            Productos
        </a>
    </li>

    <li nz-menu-item>
        <a [routerLink]="['/admin','invoices']">
            <span nz-icon nzType="eye"></span>
            Facturas
        </a>
    </li>
    
   
    <li nz-menu-item>
        <a [routerLink]="['/admin','orders']">
            <span nz-icon nzType="eye"></span>
            Ordenes  
        </a>
    </li>
    
      
    </ul>